<section class="standard-form move-options">
  <fieldset>
    <legend>Range</legend>
    {{!-- Target Form Group --}}
    <div class="form-group slim inline">
      <label>Target</label>
      <div class="form-fields">
        {{#if document.system.target}}
          <select name="system.target">
            {{selectOptions targets selected=document.system.target localize=true}}
          </select>
        {{else}}
          <select name="system.target" disabled>
            <option value selected></option>
          </select>
        {{/if}}
      </div>
    </div>
    {{!-- Range Form Group --}}
    <div class="form-group slim inline">
      <label>Range</label>
      <div class="form-fields">
        {{#if document.system.range}}
          <select name="system.range">
            {{selectOptions ranges selected=document.system.range localize=true}}
          </select>
        {{else}}
          <select name="system.range" disabled>
            {{!-- TODO: make this value null for both this and target --}}
            <option value selected></option>
          </select>
        {{/if}}
      </div>
    </div>
    {{#if document.system.withRangeLevel}}
      {{formGroup systemFields.rangeCount value=document.system.rangeCount localize=true type="number" classes="slim inline"}}
    {{else}}
      {{formGroup systemFields.rangeCount value=document.system.rangeCount localize=true type="number" classes="slim inline" disabled=true}}
    {{/if}}
  </fieldset>
  <fieldset>
    <legend>Effects</legend>
  </fieldset>
</section>
{{!-- <section class="standard-form">
   <fieldset class="effect-set scrollable">
    <legend>{{localize "SYSTEM.Models.Move.FIELDS.effects.label"}}</legend>
    <button type="button" data-action="addEffect">Add Effect</button>
    {{#each itemEffects}}
      <fieldset class="effect-section">
        <div class="effect-fields">
          {{formGroup fields.triggerType value=values.triggerType name=(concat namePrefix "triggerType") classes="stacked inline" localize=true}}
          {{formGroup fields.effect value=values.effect name=(concat namePrefix "effect") classes="stacked inline" localize=true}}
          {{formGroup fields.effectCount value=values.effectCount name=(concat namePrefix "effectCount") classes="stacked inline" localize=true}}
          {{formGroup fields.offensiveCheck value=values.offensiveCheck name=(concat namePrefix "offensiveCheck") classes="stacked inline" localize=true}}
          {{formGroup fields.defensiveCheck value=values.defensiveCheck name=(concat namePrefix "defensiveCheck") classes="stacked inline" localize=true}}
        </div>
        <button type="button" data-action="deleteEffect" data-effect-id="{{id}}" class="icon fa-solid fa-trash"></button>
      </fieldset>
    {{/each}}
  </fieldset>
</section> --}}