<section class="move-tophalf standard-form">
  <div class="move-info">
    <div class="move-header">
      <div class="center">
        <img src="{{document.img}}" data-edit="img" title="{{document.name}}" height="70" width="70" />
      </div>
      <div class="center">
        <input type="text" name="name" value="{{document.name}}" class="move-name">
      </div>
    </div>
    {{formGroup systemFields.description value=document.system.description localize=true elementType="textarea" classes="move-desc stacked"}}
  </div>
  <div class="move-metadata">
    {{formGroup systemFields.type value=document.system.type localize=true}}
    {{formGroup systemFields.category value=document.system.category localize=true}}
    {{formGroup systemFields.power value=document.system.power localize=true}}
    {{formGroup systemFields.pp value=document.system.pp localize=true}}
    {{formGroup systemFields.level value=document.system.level localize=true}}
    <div class="move-skill-check form-group stacked">
      <label>{{localize "SYSTEM.Misc.SkillCheckOverride"}}</label>
      <div class="move-skill-inputs">
        {{#if document.system.isStatus}}
          {{formInput systemFields.offensiveCheck value=document.system.offensiveCheck localize=true}}
          <span>{{localize "SYSTEM.Misc.Versus"}}</span>
          {{formInput systemFields.defensiveCheck value=document.system.defensiveCheck localize=true}}
        {{else}}
          {{formInput systemFields.offensiveCheck value=document.system.offensiveCheck localize=true disabled=true}}
          <span>{{localize "SYSTEM.Misc.Versus"}}</span>
          {{formInput systemFields.defensiveCheck value=document.system.defensiveCheck localize=true disabled=true}}
        {{/if}}
      </div>
    </div>
  </div>
</section>